extends ../layout

block content
  form(
    method="post"
    action="/users?_method=put"
    )

      label
        strong Pseudo
        input(name="pseudo" value=user.pseudo)
      label
        strong Prénom
        input(name="firstname" value=user.firstname)
      label
        strong Nom
        input(name="lastname" value=user.lastname)
      label
        strong Email
        input(name="email" value=user.email)
      label
        strong Password
        input(name="pseudo" value=user.password)
      label
        input(type="submit" value="Envoyer")
