extends ../layout

block content
  h1= title
  p Voici la liste des utilisateurs :
  table
    tr
        th ID
        th Pseudo
        th Firstname
        th Lastname
        th Email
        th Password

    each user in users
      tr
        th #{user.userId}
        th #{user.pseudo}
        td #{user.firstname}
        td #{user.lastname}
        td #{user.email}
        td #{user.password}
        td
          a(href='/users/' + user.rowid) Voir
          a(href='/users/edit' + user.rowid) Editer
